@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

body {
  background-image: url("images/skybg.jpg");
  background-position: center;
  background-size: cover;
  font-family: "Lora", serif;
  height: 92vh;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  color: #fff;
  margin-top: 50px;
  background-size: cover;
  background-position: center;
}
.header {
  display: flex;
  flex-direction: row;
}
.main {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  padding: 20px;
}
.weatherResult {
  font-size: 1.5rem;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.searchbar {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
}
.searchBtn {
  width: 80px;
  margin: 15px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid;
  cursor: pointer;
  background-color: lightskyblue;
}
.searchBtn:hover {
  background-color: rgb(168, 245, 255);
}
@media only screen and (max-width: 600px) {
  .header {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
